* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background: #f0f0f2;
}

body {
    font-family: 'Inter';
}

h1 {
    font-weight: 600;
}

.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.intro>* {
    margin: 0.5rem;
}

.intro>img {
    margin-bottom: 1rem;
    width: 20rem;
}

.scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.5rem;
}

.scroll:hover {
    cursor: pointer;
}

.section {
    height: 100vh;
    background: white;
}