* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background: #f2f2f2;
}

body {
    font-family: 'Inter';
}

h1 {
    font-weight: 600;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    text-align: center;
}

.scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.5rem;
}

.scroll:hover {
    cursor: pointer;
}