* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
}

h1 {
    font-weight: 600;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}